html {
    margin: 0;
    padding: 0;
    font-size: 16px;

}

body {
    font-family: "Poppins";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
}

.app {
    width: 425px;
    background-color: antiquewhite;
    padding: 25px;
    border-radius: 10px;
}


.head {
    font-size: 26px;
    background-color: aqua;
    text-align: center;
    padding: 15px;
}

.section {
    background-color: aquamarine;
    border-radius: 12px;
}

.section-top {
    font-size: 18px;
    padding: 10px;

}

.section-bottom {
    font-size: 18;
    padding: 10px;
}